//- Extends
extends template-part/layout.pug

//- Pug
block title
  title LH Clothing
block link
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    link(rel="stylesheet", href="style/style.css")
block main
    nav(aria-label='breadcrumb').container.sub-nav
        ol.breadcrumb
            li.breadcrumb-item
                a(href='index.html') Trang chủ
            li.breadcrumb-item.active(aria-current='page') Đặt hàng
    
    .order-view.container
        .order-title.shopcart-title THÔNG TIN ĐẶT HÀNG
        form.order-info.d-flex.flex-wrap
            .order-address.col-md-6.col 
                .order-address-title.order-sub-title 1. Địa chỉ nhận hàng
                .order-input 
                    label(for="customer-name") Họ và Tên
                    input#customer-name(type="text", name="customer-name", placeholder="Nhập họ tên")
                .order-input 
                    label(for="customer-email") Địa chỉ email
                    input#customer-name(type="email", name="customer-email", placeholder="Email")
                .order-input 
                    label(for="customer-phone") Số điện thoại
                    input#customer-name(type="number", name="customer-phone", placeholder="Sđt")
                .order-input 
                    label(for="customer-province") Tỉnh / Thành phố
                    select(name='calc_shipping_provinces' required='')#customer-province
                        option(value='') Tỉnh / Thành phố
                    input.billing_address_1(name='' type='hidden' value='')
                .order-input 
                    label(for="customer-district") Quận / Huyện
                    select(name='calc_shipping_district' required='')#customer-district
                        option(value='') Quận / Huyện
                    input.billing_address_2(name='' type='hidden' value='')
                .order-input 
                    label(for="customer-sub-district") Phường / Xã
                    select(name='calc_shipping_sub_district' required='')#customer-sub-district
                        option(value='') Phường / Xã
                    input.billing_address_3(name='' type='hidden' value='')
                .order-input 
                    label(for="full-address") Địa chỉ
                    textarea#full-address(type="textarea", name="")
            .order-ship-pay-sum.col-md-6.col-sm
                .order-ship
                    .ship-title.order-sub-title 2. Vận chuyển
                    .ship-info.d-flex.justify-content-between 
                        .ship-label Phí vận chuyển
                        .ship-money 0đ
                .order-code
                    .code-title.order-sub-title 3. Mã giảm giá
                    .code-form
                        input(type="text", placeholder="Điền mã giảm giá nếu có")
                        button(type="submit").btn-2 Sử dụng
                .pay-method 
                    .pay-label.order-sub-title 4. Phương thức thanh toán
                    form(action="")
                        //- .methods
                        //-     input#credit(type="radio", name="paymentMethod")
                        //-     label(for="credit") Thanh toán qua thẻ tín dụng
                        //- .methods
                        //-     input#atm-card(type="radio", name="paymentMethod")
                        //-     label(for="atm-card") Thanh toán qua thẻ ATM
                        //- .methods
                        //-     input#cash(type="radio", name="paymentMethod", checked="checked") 
                        //-     label(for="cash") Thanh toán khi nhận hàng
                        
                        label.methods
                            | Thanh toán qua thẻ tín dụng
                            input(type='radio' name='radio')
                            span.checkmark
                        label.methods
                            | Thanh toán qua thẻ ATM
                            input(type='radio' name='radio')
                            span.checkmark
                        label.methods
                            | Thanh toán khi nhận hàng
                            input(type='radio' checked='checked' name='radio')
                            span.checkmark
                
                .oder-sum 
                    .sum-label.order-sub-title 5. Tổng cộng
                    .sum-info 
                        table.sum-table.col-md-6.ml-auto.col
                            tbody
                                tr
                                    td Tổng giá bán
                                    td 340.000đ
                                tr 
                                    td Vận chuyển
                                    td 0đ
                                tr 
                                    td Giảm giá
                                    td 0đ
                            tfoot 
                                tr.sumary-row 
                                    td Tổng cộng
                                    td 340.000đ

                        .submit-button.col-md-6.ml-auto.col
                            button(type="submit").btn-1 Đặt hàng

    .overlay-wrap
        .pop-checkout
            h2.font-weight-bold ĐẶT HÀNG THÀNH CÔNG!
            .exit-button
                a(href="index.html").font-weight-bold x