//- Extends
extends template-part/layout.pug

//- Pug
block title
  title LH Clothing
block link
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    link(rel="stylesheet", href="style/style.css")
block main
    nav(aria-label='breadcrumb').container.sub-nav
        ol.breadcrumb
            li.breadcrumb-item
                a(href='index.html') Trang chủ
            li.breadcrumb-item.active(aria-current='page') Đặt hàng
    
    .order-view.container
        .order-title.shopcart-title THÔNG TIN ĐẶT HÀNG
        form.order-info.d-flex 
            .order-address.col-md-6.col 
                .order-address-title 1. Địa chỉ nhận hàng
                .order-input 
                    label(for="customer-name") Họ và Tên
                    input#customer-name(type="text", name="customer-name", placeholder="Nhập họ tên")
                .order-input 
                    label(for="customer-email") Địa chỉ email
                    input#customer-name(type="email", name="customer-email", placeholder="Email")
                .order-input 
                    label(for="customer-phone") Số điện thoại
                    input#customer-name(type="number", name="customer-phone", placeholder="Sđt")
                .order-input 
                    label(for="customer-province") Tỉnh / Thành phố
                    select(name='calc_shipping_provinces' required='')#customer-province
                        option(value='') Tỉnh / Thành phố
                    input.billing_address_1(name='' type='hidden' value='')
                .order-input 
                    label(for="customer-district") Quận / Huyện
                    select(name='calc_shipping_district' required='')#customer-district
                        option(value='') Quận / Huyện
                    input.billing_address_2(name='' type='hidden' value='')
                .order-input 
                    label(for="customer-sub-district") Phường / Xã
                    select(name='calc_shipping_sub_district' required='')#customer-sub-district
                        option(value='') Phường / Xã
                    input.billing_address_3(name='' type='hidden' value='')
            
            .order-ship-pay-sum.col-md-6.col
                .order-ship
                    .ship-title 2. Vận chuyển
                    .ship-info.d-flex.justify-content-between 
                        .ship-label Phí vận chuyển
                        .ship-money 0đ  