//- Extends
extends template-part/layout.pug


//- Pug
block title
  title LH Clothing
block link
    link(rel='stylesheet' type='text/css' href='node_modules/slick-carousel/slick/slick.css')
    link(rel='stylesheet' type='text/css' href='node_modules/slick-carousel/slick/slick-theme.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    link(rel="stylesheet", href="style/style.css")
block main
    nav(aria-label='breadcrumb').container.sub-nav
        ol.breadcrumb
            li.breadcrumb-item
                a(href='index.html') Trang chủ
            li.breadcrumb-item
                a(href='#') Bé gái
            li.breadcrumb-item
                a(href='#') Áo
            li.breadcrumb-item.active(aria-current='page') Áo nỉ bé gái cổ tròn
    
    .product.container
        .product-main.d-flex
            .product-box-image.d-flex
                .gallery-col.slider.slider-nav
                    div
                        img(src="image/nibegaito.jpg", alt="", srcset="")
                    div 
                        img(src="image/2.jpg", alt="", srcset="")
                    div 
                        img(src="image/nibegai.jpg", alt="", srcset="")
                    div
                        img(src="image/3.jpg", alt="", srcset="")
                    div 
                        img(src="image/4.jpg", alt="", srcset="")
                .image-main.slider.slider-for
                    div
                        img(src="image/nibegaito.jpg", alt="", srcset="")
                    div 
                        img(src="image/2.jpg", alt="", srcset="")
                    div 
                        img(src="image/nibegaito.jpg", alt="", srcset="")
                    div 
                        img(src="image/3.jpg", alt="", srcset="")
                    div 
                        img(src="image/4.jpg", alt="", srcset="")
            form.product-info.d-flex.flex-column 
                .product-title
                    h1 ÁO NỈ CỔ TRÒN BÉ GÁI
                .product-price 170.000đ
                .product-color 
                    .color-label CHỌN MÀU:
                    .colors-set.d-flex 
                        a(href="#")
                            .color-box.pink.box
                        a(href="#") 
                            .color-box.green.box
                        a(href="#")
                            .color-box.yellow.box
                .product-size 
                    .size-label CHỌN KÍCH CỠ:
                    .size-set.d-flex 
                        a(href="#")
                            .size-box.box S
                        a(href="#")
                            .size-box.box M
                        a(href="#")
                            .size-box.box L
                .product-quantity
                    label(for="quantity") Số lượng:
                    input#quantity(type="number", name="")

                .submit-button.d-flex
                    button(type="submit").add-cart THÊM VÀO GIỎ
                    button(type="submit").payment THANH TOÁN NGAY
                .product-description
    

    //- scripts
    script(type='text/javascript' src='https://code.jquery.com/jquery-1.11.0.min.js')
    script(type='text/javascript' src='https://code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(type='text/javascript' src='node_modules/slick-carousel/slick/slick.js')
    script(src="js/mySlick.js") 