/* Mixin */
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #454573;
}
@media (max-width: 479px) {
  body {
    font-size: 12px;
  }
}

p,
a {
  font-size: 16px;
  color: #454573;
  text-decoration: none;
}
@media (max-width: 479px) {
  p,
a {
    font-size: 12px;
  }
}

a:hover {
  text-decoration: none;
  color: #ed5a6b !important;
}

img {
  width: 100%;
}

ul {
  padding: 0;
}
ul li {
  list-style: none;
}

.btn-1 {
  background-color: #ed5a6b !important;
  color: #fff;
  border: none;
  padding: 4px 8px 4px 8px;
}

.btn-1:hover {
  background-color: #454573 !important;
  transition: 0.15s;
}

.btn-2 {
  background-color: #454573 !important;
  color: #fff;
  border: none;
  padding: 4px 8px 4px 8px;
}

.btn-2:hover {
  background-color: #ed5a6b !important;
  transition: 0.15s;
}

.navbar-light .navbar-nav .nav-link {
  color: #454573;
}

header {
  background-color: #ebe0e0;
}
header nav {
  height: 100%;
  padding: 0 !important;
}
header nav .navbar-brand img {
  height: 60px;
  width: auto;
}
header nav .icons a:first-child {
  position: relative;
  left: -10px;
}
header nav form {
  width: 80%;
}
header nav form button {
  border: none;
  background-color: inherit;
  color: #454573;
  padding: 0;
  width: 20px;
  position: relative;
  right: 30px;
}
@media (max-width: 479px) {
  header nav form {
    width: 100%;
  }
  header nav .icons {
    display: flex;
  }
}

footer p {
  margin-bottom: 5px;
}
footer h6 {
  font-weight: bold;
}
footer .footer {
  background-color: #ebe0e0;
  padding-top: 30px;
  margin-left: -15px;
  margin-right: -15px;
}
footer .footer .content-col {
  margin-bottom: 20px;
}
footer .footer .social ul li {
  margin-right: 10px;
}
footer .divide-line {
  width: 100%;
  height: 1px;
  background-color: black;
  margin-bottom: 30px;
}
footer .sub-email {
  margin-bottom: 30px;
}
footer .sub-email .sub-title {
  margin-right: 15px;
  font-weight: bold;
}
footer .sub-email input {
  width: 390px;
  height: 24px;
  margin-right: 5px;
  margin-bottom: 0 !important;
  box-sizing: content-box;
}
footer .sub-email button {
  background-color: inherit;
}
@media (max-width: 479px) {
  footer .sub-email {
    display: block !important;
    font-size: 12px;
  }
  footer .sub-email .sub-title {
    margin-bottom: 10px;
  }
  footer .sub-email input {
    width: 75%;
    margin-bottom: 5px;
  }
}

main {
  margin-top: 15px;
}
main .banner {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 15px;
}
@media (max-width: 479px) {
  main .banner {
    margin-bottom: 0px;
  }
}
main .new-products,
main .sale-products {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 30px;
}
@media (max-width: 479px) {
  main .new-products,
main .sale-products {
    margin-bottom: 0px;
  }
}
main .new-products .head-nav,
main .sale-products .head-nav {
  background-color: #454573;
  height: 60px;
  text-transform: uppercase;
  color: #fce36f;
  font-weight: bold;
  margin-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
}
main .new-products .head-nav a,
main .sale-products .head-nav a {
  color: white;
  font-size: 14px;
}
main .new-products .head-nav ul,
main .sale-products .head-nav ul {
  margin-bottom: 0;
  width: 30%;
}
main .new-products .head-nav .head-title,
main .sale-products .head-nav .head-title {
  font-weight: 800;
}
@media (max-width: 479px) {
  main .new-products .head-nav,
main .sale-products .head-nav {
    flex-direction: column;
    font-size: 14px;
    height: 45px;
  }
  main .new-products .head-nav .head-title,
main .sale-products .head-nav .head-title {
    position: relative;
    top: 2px;
    align-self: flex-start;
  }
  main .new-products .head-nav .head-menu-list,
main .sale-products .head-nav .head-menu-list {
    width: 100%;
    position: relative;
    bottom: 2px;
  }
  main .new-products .head-nav .head-menu-list a,
main .sale-products .head-nav .head-menu-list a {
    font-size: 12px;
  }
  main .new-products .head-nav .read-more,
main .sale-products .head-nav .read-more {
    display: none;
  }
}
main .new-products .nav-sale,
main .sale-products .nav-sale {
  margin-top: 30px;
}
main .new-products .products-grid,
main .sale-products .products-grid {
  margin-left: -5px;
  margin-right: -5px;
}
@media (max-width: 479px) {
  main .new-products .products-grid,
main .sale-products .products-grid {
    margin: 0;
    padding: 0 10px 0 10px;
    font-size: 12px;
  }
}
main .new-products .products-grid .box-item,
main .sale-products .products-grid .box-item {
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
}
main .new-products .products-grid .box-item .box-image .box-tag,
main .sale-products .products-grid .box-item .box-image .box-tag {
  position: absolute;
  background-color: #ed5a6b;
  color: #fff;
  padding: 5px;
}
main .new-products .products-grid .box-item .box-title,
main .sale-products .products-grid .box-item .box-title {
  text-align: center;
}
main .new-products .products-grid .box-item .box-price,
main .sale-products .products-grid .box-item .box-price {
  font-weight: bold;
}
main .new-products .products-grid .box-item .box-price .old-price,
main .sale-products .products-grid .box-item .box-price .old-price {
  color: #978484;
  font-weight: lighter;
  text-decoration: line-through;
  margin-left: 5px;
}
main .new-products .products-grid .box-item .box-title {
  justify-content: center !important;
}
main .new-products .products-grid .box-item .box-price {
  justify-content: center !important;
}
main .service {
  padding: 0;
  margin-bottom: 30px;
}
@media (max-width: 479px) {
  main .service {
    margin-left: 10px;
  }
  main .service .service-title {
    font-size: 14px !important;
  }
}
main .service .service-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
@media (max-width: 479px) {
  main {
    margin-top: 0;
  }
}

.box-image {
  margin-bottom: 10px;
}

@media (max-width: 479px) {
  .nav-sale {
    margin-top: 0px !important;
  }
}

#Search::-webkit-search-cancel-button {
  position: relative;
  right: 20px;
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

img {
  width: 100%;
}

.sub-nav {
  padding: 0;
}
.sub-nav a {
  color: #fff;
}

.product .product-main .product-box-image {
  width: 65%;
  display: flex;
}
.product .product-main .product-box-image .gallery-col {
  width: 106px;
}
.product .product-main .product-box-image .gallery-col .slick-slide {
  width: 100% !important;
}
.product .product-main .product-box-image .image-main {
  width: 550px;
  margin-left: 60px;
}
.product .product-main form.product-info {
  width: 100%;
  margin-left: 60px;
  font-size: 16px;
  color: #454573;
}
.product .product-main form.product-info .product-title h1 {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
}
.product .product-main form.product-info .product-price {
  font-weight: bold;
  color: #ed5a6b;
  margin-bottom: 10px;
}
.product .product-main form.product-info .product-color {
  margin-bottom: 20px;
}
.product .product-main form.product-info .product-color .colors-set .color-box {
  margin-right: 5px;
}
.product .product-main form.product-info .product-size .size-set .size-box {
  padding-left: 5px;
}
.product .product-main form.product-info .box:hover {
  border: 3px solid #ed5a6b;
}
.product .product-main form.product-info .product-quantity {
  margin-top: 20px;
  text-transform: uppercase;
}
.product .product-main form.product-info .product-quantity label {
  display: block;
  margin-bottom: 5px;
}
.product .product-main form.product-info .product-quantity input {
  height: 24px;
  width: 24px;
  text-align: center;
}
.product .product-main form.product-info .product-description {
  margin-top: 20px;
}
.product .product-main form.product-info .product-description p {
  margin-bottom: 5px;
}
.product .product-main form.product-info .product-description h6 {
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: 600;
}
@media (max-width: 479px) {
  .product .product-main {
    display: block !important;
  }
  .product .product-main .product-box-image {
    width: 100%;
  }
  .product .product-main .product-box-image .gallery-col {
    display: none;
  }
  .product .product-main .product-box-image .image-main {
    margin: 0;
    width: 100%;
  }
  .product .product-main .product-box-image .image-main .slick-dots {
    bottom: 18px;
  }
  .product .product-main form {
    margin-left: 0 !important;
  }
}

.same-products {
  margin-top: 30px;
  margin-bottom: 30px;
}
.same-products .same-products-title {
  font-size: 24px;
  font-weight: bold;
}
.same-products .same-item {
  padding-left: 5px;
  padding-right: 5px;
}
.same-products .same-item .box-price {
  font-weight: bold;
}

.pink {
  background-color: pink;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.breadcrumb {
  background-color: #454573;
  border-radius: 0;
}
.breadcrumb .breadcrumb-item.active {
  color: #c7c9ca;
}

.box {
  border: 1px solid black;
  width: 24px;
  height: 24px;
  margin-top: 5px;
  margin-right: 5px;
}

.submit-button {
  width: 100%;
  margin-top: 19px;
}
.submit-button .payment {
  margin-left: 15px;
}

.shopcart-title {
  font-size: 24px;
  font-weight: bold;
  margin-left: -15px;
  margin-bottom: 20px;
}
@media (max-width: 479px) {
  .shopcart-title {
    margin-left: -5px;
    font-size: 18px;
    margin-bottom: 10px;
  }
}

form.cart {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 90px;
}
form.cart table.cart-table {
  width: 100%;
  border-spacing: 0;
  margin-bottom: 20px;
}
form.cart table.cart-table thead tr th {
  display: table-cell;
  margin-bottom: 20px !important;
  line-height: 34px;
  border-bottom: 1px solid grey;
}
form.cart table.cart-table th {
  text-align: center;
}
form.cart table.cart-table td {
  text-align: center;
  vertical-align: top;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}
form.cart table.cart-table .cart-item {
  margin-top: 20px !important;
}
form.cart table.cart-table .cart-product-name {
  text-align: left;
}
form.cart table.cart-table .cart-product-name img {
  max-width: 60px;
  margin-right: 10px;
}
form.cart table.cart-table .cart-product-name div {
  display: inline-block;
}
form.cart table.cart-table .cart-product-name div p {
  margin-bottom: 5px;
}
form.cart table.cart-table .cart-product-delete a img {
  width: 24px;
}
form.cart table.cart-table .cart-product-color {
  text-align: center;
}
form.cart table.cart-table .cart-product-color .color-box {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}
form.cart table.cart-table .cart-product-size {
  text-align: center;
}
form.cart table.cart-table .cart-product-size .size-box {
  margin: 0 auto 0 auto;
  padding-left: 1px;
}
form.cart table.cart-table a.delete-item {
  color: red;
}
form.cart table.cart-table a.delete-item:hover {
  color: #990000;
  transition: 0.15s;
}
form.cart table.cart-table .cart-product-quantity {
  text-align: center;
}
form.cart table.cart-table .cart-product-quantity #quantity-counter {
  margin: 0 auto 0 auto;
}
form.cart table.cart-table .cart-product-quantity #quantity-counter input {
  width: 30px;
  text-align: center;
}
form.cart .table-sum {
  margin-left: auto;
}
form.cart .table-sum td:last-child {
  text-align: right;
}
form.cart .table-sum .sumary-estimate {
  font-weight: bold;
}
form.cart .table-sum .sumary-estimate td {
  padding-top: 5px;
  border-top: 1px solid grey;
}
@media (max-width: 479px) {
  form.cart {
    font-size: 10px;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 30px;
  }
  form.cart .cart-table {
    margin-bottom: 10px !important;
  }
  form.cart .cart-table th {
    line-height: 14px !important;
  }
  form.cart .cart-table td {
    padding-top: 5px !important;
  }
  form.cart .cart-table tbody p, form.cart .cart-table tbody .color-code, form.cart .cart-table tbody #quantity-counter button {
    display: none;
  }
  form.cart .cart-table tbody .cart-product-name img {
    margin: 0 !important;
  }
  form.cart .cart-table tbody .cart-product-size {
    font-weight: bold;
  }
  form.cart .cart-table tbody .cart-product-size .box {
    border: none;
    padding-top: 3px;
  }
  form.cart .cart-table tbody .cart-product-quantity input {
    width: 24px !important;
  }
  form.cart .cart-table tbody .product-price, form.cart .cart-table tbody .sumary-of-quantity {
    padding-top: 3px;
  }
  form.cart .cart-table tbody .cart-product-delete img {
    width: 14px !important;
  }
  form.cart .table-sum {
    max-width: 50% !important;
  }
  form.cart .submit-button {
    max-width: 100%;
  }
}

select {
  font-size: 16px !important;
  height: 30px;
  color: #767676;
}
select option {
  color: #767676;
}

.order-info {
  margin-bottom: 20px;
}

.order-view .order-info {
  margin-left: -15px;
  margin-right: -15px;
}
.order-view .order-info .order-sub-title {
  font-weight: bold;
  border-bottom: 1px solid #454573;
  margin-bottom: 10px;
  margin-top: 10px;
}
.order-view .order-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.order-view .order-input label {
  margin-bottom: 5px;
}
.order-view .code-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-view .code-form input {
  width: 80%;
  height: 30px;
}
.order-view .sumary-row {
  font-weight: bold;
  border-top: 1px solid #454573;
}
.order-view .submit-button {
  padding: 0;
}
.order-view .submit-button button {
  width: 100%;
}
.order-view .sum-table td:last-child {
  text-align: right;
}

.methods {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.methods input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.methods:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.methods input:checked ~ .checkmark {
  background-color: #ed5a6b;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.methods input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.methods .checkmark:after {
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.directory-view {
  margin: 0 -15px 0 -15px;
}
.directory-view .list-col {
  width: 15%;
}
.directory-view .list-col li a {
  font-size: 12.5px !important;
}
.directory-view .list-col .list-col-item {
  margin-bottom: 20px;
}
@media (max-width: 479px) {
  .directory-view .list-col {
    display: none;
  }
}
.directory-view .products-view {
  width: 85%;
}
.directory-view .products-view .products-grid {
  margin: 20px -15px 0 -15px;
}
.directory-view .products-view .box-item {
  margin-bottom: 20px;
}
@media (max-width: 479px) {
  .directory-view .products-view {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }
  .directory-view .products-view .products-grid {
    margin: 15px 0px 0 0px;
  }
  .directory-view .products-view .box-item {
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.overlay-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(6, 6, 6, 0.64);
}
.overlay-wrap .pop-checkout {
  background-color: #ed5a6b;
  color: white;
  width: 60%;
  height: 40%;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(2px 2px 10px rgba(255, 255, 255, 0.3));
}
.overlay-wrap .pop-checkout h2 {
  font-size: 24px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.overlay-wrap .pop-checkout .exit-button {
  width: 28px;
  height: 28px;
  background-color: #454573;
  position: relative;
  float: right;
}
.overlay-wrap .pop-checkout .exit-button a {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 479px) {
  .overlay-wrap .pop-checkout {
    width: 80%;
    height: 30%;
  }
  .overlay-wrap .pop-checkout h2 {
    font-size: 18px;
  }
}

/*# sourceMappingURL=style.css.map */
