// Import
@import "style-part/media-mixin.scss";

// Variables
$primary-color: #ed5a6b;
$background-nav: #ebe0e0;
$secondary-color: #454573;

// Scss
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #454573;
  @include mobile {
    font-size: 12px;
  }
}
p,
a {
  font-size: 16px;
  color: $secondary-color;
  text-decoration: none;
  @include mobile {
    font-size: 12px;
  }
}
a:hover {
  text-decoration: none;
  color: $primary-color !important;
}

img {
  width: 100%;
}
ul {
  padding: 0;
  li {
    list-style: none;
  }
}

.btn-1 {
  background-color: $primary-color !important;
  color: #fff;
  border: none;
  padding: 4px 8px 4px 8px;
}
.btn-1:hover {
  background-color: $secondary-color !important;
  transition: 0.15s;
}

.btn-2 {
  background-color: $secondary-color !important;
  color: #fff;
  border: none;
  padding: 4px 8px 4px 8px;
}
.btn-2:hover {
  background-color: $primary-color !important;
  transition: 0.15s;
}
.navbar-light .navbar-nav .nav-link {
  color: $secondary-color ;
}
header {
  background-color: $background-nav;
  nav {
    height: 100%;
    padding: 0 !important;
    .navbar-brand {
      img {
        height: 60px;
        width: auto;
      }
    }
    .icons {
      a:first-child {
        position: relative;
        left: -10px;
      }
      }
    form {
      width: 80%;
      button {
        border: none;
        background-color: inherit;
        color: $secondary-color;
        padding: 0;
        width: 20px;
        position: relative;
        right: 30px;
        // position: absolute;
      }
    }

    @include mobile {
        form {
          // margin-right: -45px !important;
          width: 100%;
          
        }
        .icons {
          display: flex;
        }
      }

  }
}
.sub-email {
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  .sub-title {
    margin-right: 15px;
    font-weight: bold;
  }
  input {
    width: 390px;
    height: 24px;
    margin-right: 5px;
    margin-bottom: 0 !important;
    box-sizing: content-box;
  }
  button {
    background-color: inherit;
  }
  @include mobile {
    display: block !important;
    font-size: 12px;
    .sub-title {
      margin-bottom: 10px;
    }
    input {
      width: 75%;
      margin-bottom: 5px;
    }
  }
}
footer {
  p {
    margin-bottom: 10px;
  }
  h6 {
    font-weight: bold;
  }


  .footer {
    // width: 100%;
    background-color: $background-nav;
    padding-top: 30px;
    margin-left: -15px;
    margin-right: -15px;
    .content-col {
      margin-bottom: 20px;
    }
    .content-col {
      a {
        line-height: 26px;
      }
    }
    .sale-tel {
      margin-bottom: 20px;
    }
    .social {
      ul {
        li {
          margin-right: 10px;
        }
      }
    }
    @include mobile {
      .content-col:last-child {
        display: flex;
        // justify-content: space-between;
        .social {
          flex: 0 0 50%;
          padding-left: 30px;
        }
      }
    }
  }

  .divide-line {
    width: 100%;
    height: 1px;
    background-color: $secondary-color;
    margin-bottom: 15px;
  }

  
}



@import "style-part/_home-page.scss","style-part/_products-detail.scss","style-part/_shopcart.scss", "style-part/_order.scss", "style-part/_product-list.scss", "style-part/_check-out.scss" ;
