/* Mixin */
body {
  font-family: "Montserrat", sans-serif;
}

p,
a {
  font-size: 14px;
}
@media (max-width: 479px) {
  p,
a {
    font-size: 12px;
  }
}

a {
  color: #000;
  text-decoration: none;
}

img {
  width: 100%;
}

ul {
  padding: 0;
}
ul li {
  list-style: none;
}

header {
  background-color: #ebe0e0;
}
header nav {
  height: 100%;
}
@media (max-width: 479px) {
  header nav #navbarSupportedContent.collapse.navbar-collapse form {
    margin: 0 !important;
  }
  header nav #navbarSupportedContent.collapse.navbar-collapse form input {
    width: 90%;
    margin-right: 3px;
  }
  header nav #navbarSupportedContent.collapse.navbar-collapse .icons {
    display: flex;
  }
}
header nav #navbarSupportedContent.collapse.navbar-collapse form button {
  border: none;
  background-color: inherit;
  padding: 0;
  width: 20px;
}
header nav #navbarSupportedContent.collapse.navbar-collapse .icons a {
  margin-left: 20px;
}
header nav #navbarSupportedContent.collapse.navbar-collapse .icons a img {
  width: 20px;
}

footer p {
  margin-bottom: 5px;
}
footer h6 {
  font-weight: bold;
}
footer .footer {
  background-color: #ebe0e0;
  padding-top: 30px;
  margin-left: -15px;
  margin-right: -15px;
}
footer .footer .content-col {
  margin-bottom: 20px;
}
footer .footer .social ul li {
  margin-right: 10px;
}
footer .divide-line {
  width: 100%;
  height: 1px;
  background-color: black;
  margin-bottom: 30px;
}
footer .sub-email {
  margin-bottom: 30px;
}
footer .sub-email .sub-title {
  margin-right: 15px;
  font-weight: bold;
}
footer .sub-email input {
  width: 390px;
  margin-right: 5px;
}
footer .sub-email button {
  background-color: inherit;
}
@media (max-width: 479px) {
  footer .sub-email {
    display: block !important;
  }
  footer .sub-email .sub-title {
    margin-bottom: 10px;
  }
  footer .sub-email input {
    width: 100%;
    margin-bottom: 5px;
  }
}

main {
  margin-top: 30px;
}
main .banner {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 30px;
}
main .new-products,
main .sale-products {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 30px;
}
main .new-products .head-nav,
main .sale-products .head-nav {
  background-color: #454573;
  height: 60px;
  text-transform: uppercase;
  color: #fce36f;
  font-weight: bold;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
main .new-products .head-nav a,
main .sale-products .head-nav a {
  color: white;
  font-size: 14px;
}
main .new-products .head-nav ul,
main .sale-products .head-nav ul {
  margin-bottom: 0;
  width: 30%;
}
main .new-products .head-nav .head-title,
main .sale-products .head-nav .head-title {
  font-weight: 800;
}
@media (max-width: 479px) {
  main .new-products .head-nav,
main .sale-products .head-nav {
    flex-direction: column;
  }
  main .new-products .head-nav .head-title,
main .sale-products .head-nav .head-title {
    position: relative;
    top: 8px;
    align-self: flex-start;
  }
  main .new-products .head-nav .head-menu-list,
main .sale-products .head-nav .head-menu-list {
    width: 100%;
  }
  main .new-products .head-nav .read-more,
main .sale-products .head-nav .read-more {
    display: none;
  }
}
main .new-products .nav-sale,
main .sale-products .nav-sale {
  margin-top: 30px;
}
main .new-products .products-grid,
main .sale-products .products-grid {
  margin-left: -5px;
  margin-right: -5px;
}
@media (max-width: 479px) {
  main .new-products .products-grid,
main .sale-products .products-grid {
    margin: 0;
  }
}
main .new-products .products-grid .box-item,
main .sale-products .products-grid .box-item {
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
}
main .new-products .products-grid .box-item .box-image .box-tag,
main .sale-products .products-grid .box-item .box-image .box-tag {
  position: absolute;
  background-color: #ed5a6b;
  color: #fff;
  padding: 5px;
}
main .new-products .products-grid .box-item .box-price,
main .sale-products .products-grid .box-item .box-price {
  font-weight: bold;
}
main .new-products .products-grid .box-item .box-price .old-price,
main .sale-products .products-grid .box-item .box-price .old-price {
  color: #978484;
  font-weight: lighter;
  text-decoration: line-through;
  margin-left: 5px;
}
main .new-products .products-grid .box-item .box-title {
  justify-content: center !important;
  text-align: center;
}
main .new-products .products-grid .box-item .box-price {
  justify-content: center !important;
}
main .service {
  padding: 0;
  margin-bottom: 30px;
}
@media (max-width: 479px) {
  main .service {
    margin-left: 10px;
  }
}
main .service .service-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

/*# sourceMappingURL=style.css.map */
