// Import
@import "style-part/media-mixin.scss";

// Variables
$primary-color: #ed5a6b;
$background-nav: #ebe0e0;
$secondary-color: #454573;

// Scss
a {
  color: #000;
  text-decoration: none;
}
img {
  width: 100%;
}
ul {
  padding: 0;
  li {
    list-style: none;
  }
}

header {
  background-color: $background-nav;
  nav {
    height: 100%;
    #navbarSupportedContent.collapse.navbar-collapse {
      form {
        button {
          border: none;
          background-color: inherit;
          padding: 0;
          width: 20px;
        }
      }
      .icons {
        a {
          margin-left: 20px;
          img {
            width: 20px;
          }
        }
      }
    }
  }
}

footer {
  p {
    margin-bottom: 5px;
  }
  h6 {
    font-weight: bold;
  }

  .footer {
    // width: 100%;
    background-color: $background-nav;
    padding-top: 30px;
    margin-left: -15px;
    margin-right: -15px;
    .content-col {
      margin-bottom: 20px;
    }
    .social {
      ul {
        li {
          margin-right: 10px;
        }
      }
    }
  }

  .divide-line {
    width: 100%;
    height: 1px;
    background-color: black;
    margin-bottom: 30px;
  }

  .sub-email {
    margin-bottom: 30px;
    .sub-title {
      margin-right: 15px;
      font-weight: bold;
    }
    input {
      width: 390px;
      margin-right: 10px;
    }
    button {
      background-color: inherit;
    }
  }
}

main {
  margin-top: 30px;
  .banner {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 30px;
  }
  .new-products,
  .sale-product {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 30px;

    .head-nav {
      background-color: $secondary-color;
      height: 60px;
      text-transform: uppercase;
      color: #fce36f;
      margin-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;
      a {
        color: white;
        font-size: 14px;
      }
      ul {
        margin-bottom: 0;
        width: 30%;
      }
    }
    .nav-sale {
      margin-top: 30px;
    }
    .products-grid {
      margin-left: -5px;
      margin-right: -5px;
      .box-item {
        position: relative;
        padding-left: 5px;
        padding-right: 5px;
        .box-image {
          .box-tag {
            position: absolute;
            background-color: $primary-color;
            color: #fff;
            padding: 5px;
          }
        }
      }
    }
  }
}
