// Import
@import "style-part/media-mixin.scss";

// Variables
$primary-color: #ed5a6b;
$background-nav: #ebe0e0;
$secondary-color: #454573;

// Scss
body {
  font-family: "Montserrat", sans-serif;
}
p,
a {
  font-size: 14px;
  @include mobile {
    font-size: 12px;
  }
}
a {
  color: #000;
  text-decoration: none;
}
img {
  width: 100%;
}
ul {
  padding: 0;
  li {
    list-style: none;
  }
}

header {
  background-color: $background-nav;
  nav {
    height: 100%;
    #navbarSupportedContent.collapse.navbar-collapse {
      @include mobile {
        form {
          margin: 0 !important;
          input {
            width: 90%;
            margin-right: 3px;
          }
          
        }
        .icons {
          display: flex;
        }
      }
      form {
        button {
          border: none;
          background-color: inherit;
          padding: 0;
          width: 20px;
        }
      }
      .icons {
        a {
          margin-left: 20px;
          img {
            width: 20px;
          }
        }
      }
    }
  }
}

footer {
  p {
    margin-bottom: 5px;
  }
  h6 {
    font-weight: bold;
  }

  .footer {
    // width: 100%;
    background-color: $background-nav;
    padding-top: 30px;
    margin-left: -15px;
    margin-right: -15px;
    .content-col {
      margin-bottom: 20px;
    }
    .social {
      ul {
        li {
          margin-right: 10px;
        }
      }
    }
  }

  .divide-line {
    width: 100%;
    height: 1px;
    background-color: black;
    margin-bottom: 30px;
  }

  .sub-email {
    margin-bottom: 30px;
    .sub-title {
      margin-right: 15px;
      font-weight: bold;
    }
    input {
      width: 390px;
      margin-right: 5px;
    }
    button {
      background-color: inherit;
    }
    @include mobile {
      display: block !important;
      .sub-title {
        margin-bottom: 10px;
      }
      input {
        width: 100%;
        margin-bottom: 5px;
      }
    }
  }
}

@import 'style-part/_home-page.scss'