// Variables
$primary-color: #ED5A6B;
$background-nav: #EBE0E0;



// Scss
header{
    background-color: $background-nav;
    nav{
        height: 100%;
        #navbarSupportedContent.collapse.navbar-collapse{
            form{
                button{
                    border: none;
                    background-color: inherit;
                    padding: 0;
                    width: 20px;
                }
            }
            .icons{
                a{
                    margin-left: 20px;
                    img{
                        width: 20px;
                    }
                }
            }
            
        }
    }
}