footer.container
    .sub-email.justify-content-center.d-flex
        .sub-title Đăng ký nhận tin 
        form(action="")
            input(type="email", name="")
            button(type="submit") Đăng ký
            
    .divide-line

    .footer.d-flex.justify-content-between
        .content-col
            h3.foot-title LIÊN HỆ
            p.foot-content Địa chỉ liên hệ:  Số 348 Nguyễn Trãi, Q. Thanh Xuân, Hà Nội
            p.foot-content Điện thoại: +84369232329
            p.foot-content Fax: +84369232329
            p.foot-content Email: dont@lhclothing.com


