main {
    margin-top: 15px;
    .banner {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 30px;
      @include mobile {
        margin-bottom: 15px;
      }
    }
    .new-products,
    .sale-products {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 30px;
      @include mobile {
        margin-bottom: 0px;
      }
      .head-nav {
        background-color: $secondary-color;
        height: 60px;
        text-transform: uppercase;
        color: #fce36f;
        font-weight: bold;
        margin-bottom: 15px;
        padding-left: 15px;
        padding-right: 15px;
        a {
          color: white;
          font-size: 14px;
        }
        ul {
          margin-bottom: 0;
          width: 30%;
        }
        .head-title{
          font-weight: 800;
        }
  
        @include mobile {
          flex-direction: column;
          font-size: 14px;
          height: 40px;
          .head-title {
            position: relative;
            top: 2px;
            align-self: flex-start;
          }
          .head-menu-list {
            width: 100%;
            a {
              font-size: 12px;
            }
            
          }
          .read-more {
            display: none;
          }
        }
      }
      .nav-sale {
        margin-top: 30px;
      }
      .products-grid {
        margin-left: -5px;
        margin-right: -5px;
        @include mobile {
            margin: 0;
            font-size: 12px;
        }
        .box-item {
          position: relative;
          padding-left: 5px;
          padding-right: 5px;
          margin-bottom: 20px;
          .box-image {
            .box-tag {
              position: absolute;
              background-color: $primary-color;
              color: #fff;
              padding: 5px;
            }
          }
          .box-price {
            font-weight: bold;
            .old-price{
                color: #978484 ;
                font-weight: lighter;
                text-decoration: line-through;
                margin-left: 5px;
            }
          }
        }
      }
    }
    .new-products {
      .products-grid {
        .box-item {
          .box-title {
            justify-content: center !important;
            text-align: center;
          }
          .box-price {
            justify-content: center !important;
          }
        }
      }
    }
    .service {
      padding: 0;
      margin-bottom: 30px;
      @include mobile {
          margin-left: 10px;
          .service-title {
            font-size: 14px !important;
          }
      }
      .service-title {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 5px;
      }
    }
  }

