main {
    margin-top: 15px;
    .banner {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 15px;
      @include mobile {
        margin-bottom: 0px;
      }
    }
    .new-products,
    .sale-products {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 30px;
      @include mobile {
        margin-bottom: 20px;
      }
      .head-nav {
        background-color: $secondary-color;
        height: 60px;
        text-transform: uppercase;
        color: #fce36f;
        font-weight: bold;
        margin-bottom: 15px;
        padding-left: 15px;
        padding-right: 15px;
        a {
          color: white;
          font-size: 14px;
        }
        ul {
          margin-bottom: 0;
          width: 30%;
        }
        .head-title{
          font-weight: 800;
        }
  
        @include mobile {
          flex-direction: column;
          font-size: 14px;
          height: 45px;
          margin-bottom: 5px;
          .head-title {
            position: relative;
            top: 3px;
            align-self: flex-start;
          }
          .head-menu-list {
            width: 100%;
            a {
              font-size: 12px;
            }
            position: relative;
            bottom: 2px;
            
          }
          .read-more {
            display: none;
          }
        }
      }
      .nav-sale {
        margin-top: 30px;
      }
      .products-grid {
        margin-left: -7.5px;
        margin-right: -7.5px;
        @include mobile {
            margin: 0;
            padding: 0 7.5px 0 7.5px;
            font-size: 12px;
            .box-item {
              padding-left: 5px !important;
              padding-right: 5px !important;
            }
            
        }
        .box-item {
          position: relative;
          padding-left: 7.5px;
          padding-right: 7.5px;
          margin-bottom: 20px;
          .box-image {
            .box-tag {
              position: absolute;
              background-color: $primary-color;
              color: #fff;
              padding: 5px;
            }
          }
          .box-title {
            text-align: center;
            font-size: 18px;
          }
          .box-price {
            font-weight: bold;
            font-size: 18px;
            .old-price{
                color: #978484 ;
                font-weight: lighter;
                text-decoration: line-through;
                margin-left: 5px;
            }
          }
          @include mobile {
            margin-bottom: 10px;
            .box-title, .box-price {
              font-size: 12px !important;
            }
          }
        }
        @include mobile {
          margin: 0;
          padding: 0 7.5px 0 7.5px;
          font-size: 12px;
          .box-item {
            padding-left: 5px !important;
            padding-right: 5px !important;
          }
          
      }
      }
    }
    .new-products {
      .products-grid {
        .box-item {
          .box-title {
            justify-content: center !important; 
          }
          .box-price {
            justify-content: center !important;
          }
        }  
      }
    }
    .service {
      padding: 0;
      margin-bottom: 30px;
      
      
      @include mobile {
          padding-left: 10px;
          .service-title {
            font-size: 14px !important;
          }
      }
      .service-title {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 5px;
      }
    }
    @include mobile {
      margin-top: 0;
    }
  }

// Need refactor

.box-image {
  margin-bottom: 10px;
  @include mobile {
    margin-bottom: 5px;
  }
}

.nav-sale {
  @include mobile {
    margin-top: 0px !important;
  }
}

#Search::-webkit-search-cancel-button{
  position:relative;
  right:20px;    
  display: none;
}