// Scss
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

img {
  width: 100%;
}
.sub-nav {
  padding: 0;
  a {
    color: #fff;
  }
  
}

.product {
  .product-main {
    
    .product-box-image {
      width: 65%;
      display: flex;
      // justify-content: space-between;
      @include tablet{
        width: 55%;
        .gallery-col {
          display: none;
        }
        .image-main {
          
        }
      }
      .gallery-col {
        width: 106px;
        .slick-slide {
          width: 100% !important;
        }
      }
      .image-main {
        width: 550px;
        // width: auto;
        margin-left: 60px;
        @include tablet {
          margin-left: 0;
          width: 100%;

        }
      }
    }

    form.product-info {
      width: 100%;
      margin-left: 60px;
      font-size: 16px;
      color: $secondary-color;
      .product-title {
        h1 {
          font-size: 18px;
          font-weight: bold;
          line-height: 20px;
        }
      }
      .product-price {
        font-weight: bold;
        color: $primary-color;
        margin-bottom: 10px;
      }
      .product-color {
          margin-bottom: 20px;
        .colors-set {
          .color-box {
            margin-right: 5px;
          }
        }
        
      }
      .product-size {
        .size-set {
            .size-box {
                padding-left: 5px;
                @include mobile {
                  padding-top: 2px;
                  padding-left: 6px;
                }
            }
        }
      }
      
      .box:hover {
        border: 1px solid $primary-color;
      }
      
      .product-quantity {
        margin-top: 20px;
        text-transform: uppercase;
        label {
            display: block;
            margin-bottom: 5px;
        }
        input {
            height: 24px;
            width: 24px;
            text-align: center;
        }

      }


      .product-description {
        margin-top: 20px;
        p {
          margin-bottom: 5px;
        }
        h6 {
          font-size: 14px;
          margin-top: 15px;
          margin-bottom: 5px;
          font-weight: 600;
        }
      }
      @include tablet{
        margin-left: 20px;
      }
    }


    @include mobile {
      display: block !important;
      .product-box-image {
        // display: blocjk !important;
        width: 100%;
        .gallery-col {
          display: none;
        }
        .image-main {
          margin: 0;
          width: 100%;
          .slick-dots {
            bottom: 18px;
          }
        }
      }
      form {
        margin-left: 0 !important;
      } 
    }
  }
}

.same-products {
  margin-top: 30px;
  margin-bottom: 30px;
  .same-products-title {
      font-size: 24px;
      font-weight: bold;
      margin-left: -15px;
      margin-bottom: 10px;
      @include mobile {
        font-size: 18px;
        margin: 0;
      }
  }
  .same-products-slide {
    margin-left: -15px;
    margin-right: -15px;
    height: 60%;
    @include mobile {
      margin: 0 -5px 0 -5px;
    }
  }
  .same-item {
    padding-left: 5px;
    padding-right: 5px;
    .box-price {
      font-weight: bold;
    }
  }
}

// assets
// colors
.pink {
    background-color: pink;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

// linhtinh
.breadcrumb {
  background-color: $secondary-color;
  border-radius: 0;
  .breadcrumb-item.active {
    color: #c7c9ca;
  }
}
.box {
        border: 1px solid black;
        width: 24px;
        height: 24px;
        margin-top: 5px;
        margin-right: 5px;
      }

.submit-button {
        width: 100%;
        margin-top: 19px;
        .payment {
            margin-left: 15px;
        }
      }
.de-in-button {
  background-color: inherit;
  border: 0.5px solid rgb(118, 118, 118);
  width: 24px;
  height: 24px;
  font-size: 14px;
  color: $secondary-color;
  border-radius: 0;
}

.de-in-button:hover {
  color: $primary-color;
}