// Scss
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

img {
  width: 100%;
}
.sub-nav {
  padding: 0;
  a {
    color: #fff;
  }
  .breadcrumb {
    background-color: $secondary-color;
    border-radius: 0;
    .breadcrumb-item.active {
      color: #c7c9ca;
      font-size: 14px;
    }
  }
}

.product {
  .product-main {
    .product-box-image {
      width: 65%;
      display: flex;
      // justify-content: space-between;
      .gallery-col {
        width: 106px;
        .slick-slide {
          width: 100% !important;
        }
      }
      .image-main {
        width: 550px;
        margin-left: 60px;
      }
    }

    form.product-info {
      width: 100%;
      margin-left: 60px;
      font-size: 12px;
      .product-title {
        h1 {
          font-size: 16px;
          font-weight: bold;
          line-height: 20px;
        }
      }
      .product-price {
        font-weight: bold;
        color: $primary-color;
        margin-bottom: 10px;
      }
      .product-color {
          margin-bottom: 20px;
        .colors-set {
          .color-box {
            width: 24px;
            height: 24px;
            margin-top: 5px;
            margin-right: 5px;
          }
        }
        
      }
      .product-size {
        .size-set {
            .size-box {
                margin-top: 5px;
                margin-right: 5px;
                padding: 5px;
            }
        }
      }
      .box {
        border: 1px solid black;
      }
      .box:hover {
        border: 3px solid $primary-color;
      }
      
      .product-quantity {
        margin-top: 20px;
        text-transform: uppercase;
        label {
            display: block;
            margin-bottom: 5px;
        }
        input {
            height: 24px;
            width: 24px;
            text-align: center;
        }

      }

      .submit-button {
        width: 100%;
        margin-top: 20px;
        color: #fff;
        button {
            height: 30px;
            color: #fff;
            border: none;
        }
        .payment {
            margin-left: 20px;
            background-color: $primary-color;
        }
        .add-cart {
            background-color: $secondary-color;
        }
      }

      .product-description {
        margin-top: 20px;
        p {
          margin-bottom: 5px;
        }
        h6 {
          font-size: 14px;
          margin-top: 15px;
          margin-bottom: 5px;
          font-weight: 600;
        }
      }
    }

  }
}


// colors
.pink {
    background-color: pink;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}