

// scss
.shopcart-title {
    font-size: 24px;
    font-weight: bold;
    margin-left: -15px;
    margin-bottom: 20px;
}
form.cart {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 90px;
    table.cart-table {
        width: 100%;
        border-spacing: 0;
        margin-bottom: 20px;
        thead {
            tr {
                th {
                    display: table-cell ;
                    margin-bottom: 20px !important;
                    line-height: 34px;
                    border-bottom: 1px solid grey;
                }
            }
        }
        th {
            text-align: center;
        }
        td {
            text-align: center;
            vertical-align: top;
            padding-top: 20px;
            padding-bottom: 10px;
            border-bottom: 1px solid grey;
        }

        .cart-item {
            margin-top: 20px !important;
        }
        .cart-product-name {
            text-align: left;
            img {
                max-width: 60px;
                margin-right: 10px;
            }
            div {
                display: inline-block;
                p {
                margin-bottom: 5px;
                }
            }
        }
        .cart-product-delete {
            a {
                img {
                    width: 24px;
                }
            }
        }
        .cart-product-color {
            text-align: center;
            .color-box {
                margin-left: auto;
                margin-right: auto;
                margin-top: 0;
            }
        }
        .cart-product-size {
            text-align: center;
            .size-box {
                margin: 0 auto 0 auto;
                padding-left: 1px;
            }
        }
        .cart-product-quantity {
            text-align: center;
            #quantity-counter {
                margin: 0 auto 0 auto;
                input {
                    width: 30px;
                    text-align: center;
                }
            }
           
        }
    }

    .table-sum {
        margin-left: auto;
        td:last-child {
            text-align: right;
        }
        .sumary-estimate {
            font-weight: bold;
            td {
                padding-top: 10px;
                border-top: 1px solid grey;
            }
            
        }
    }


    // responsive
    @include mobile {
        font-size: 12px;
        th {
            // display: none !important;
        }


        tbody {
            // display: block;

        }
    }
    
}